<% include ../layouts/header.ejs %>
<% include ../layouts/navbar.ejs %>

<body class="bg">
<br><br>
<main>

    <div class="container-fluid">
        <h4 class="center-align"> ALL SUBORDINATES </h4>
        <div class="row">
            <div class="col l12">
                <%  i = 1
                subordinates.forEach(function (subordinate) { %>

                <div id="remarkModal" class="modal">
                    <div class="modal-content">
                        <h4>
                            Remarks <i class="material-icons modal-close" style="position: relative; float: right;" onclick="document.getElementById('allRemarks').innerHTML = '' ">close</i>
                        </h4>
                        <form action="/remark/create" method="post">
                            <input type="hidden" id="goalIdForRemark" name="goalIdForRemark">
                            <input type="hidden" id="userId" name="userId" value="<%= sess.userId %>">
                            <input type="hidden" id="allSubordinates" name="allSubordinates" value="true">
                            <ul class="collection" id="allRemarks"></ul>
                            <ul class="collection">
                                <li class="collection-item avatar">
                                    <i class='material-icons circle dw-blue-1'>comment</i>
                                    <input name="remark" type="text" id="remark" autocomplete="off" placeholder="Write your remark here" autofocus>
                                </li>
                            </ul>
                    </div>
                    <div class="modal-footer">
                        <button class="modal-close waves-effect waves-green btn-flat dw-green-1 white-text align-center" onclick="window.reload;">
                            Add Remark
                        </button>
                    </div>
                    </form>
                </div>

                    <ul class="collapsible">
                        <li class="active">
                            <div class="collapsible-header dw-blue-1 white-text">
                                <i class="material-icons">person</i> <span class="tab-header"> <%= subordinate.name %>'s Goals</span>
                            </div>
                            <div class="collapsible-body">
                                <div class="row" id="<%= subordinate.name %>">
                                    <div class="col l12">
                                        <table class="white">
                                            <thead>
                                                <th style="width: 5%;"> S. N. </th>
                                                <th style="width: 60%;"> Goal </th>
                                                <th style="width: 10%;"> Type </th>
                                                <th style="width: 10%;"> Status </th>
                                                <th style="width: 5%;"> Progress </th>
                                                <th style="width: 5%;"> Log </th>
                                                <th style="width: 5%;"> Remarks </th>
                                            </thead>
                                            <tbody id="subordinateGoalsOf<%= subordinate.id %>">
                                            <script type="text/javascript">
                                                $(document).ready(function(){
                                                    getGoalList(<%= subordinate.id %>);
                                                });
                                            </script>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                        <script type="text/javascript">
                            $(document).ready(function(){
                                getAllSubordinates(<%= subordinate.id %>, "<%= subordinate.name %>");
                            });
                        </script>
                <% }) %>
            </div>
        </div>
    </div>

</main>
</body>

<% include ../layouts/footer.ejs %>