<% include ../layouts/header.ejs %>
<% include ../layouts/navbar.ejs %>
<body class="bg">
<br><br>
<main>
    <div class="container">
        <div class="row">
            <% if (manager) { %>
            <h6>Manager : </h6>
            <img src="../profilePictures/<%=manager.imageName%>" onerror="this.src='../profilePictures/default.jpg'" style="height: 4%; width: 4%; margin-bottom: -1%;"
                              class="tooltipped" data-position="right" data-tooltip="<%= manager.name %>">
            <% }%>
        </div>
        <div class="row">
            <div class="col l12 m12 s12 center-align">
                <div class="conatiner">
                    <a><img src="../profilePictures/<%=user.imageName%>" onerror="this.src='../profilePictures/default.jpg'" class="circle responsive-img" style="height: 30%; width: 30%;"></a>
                    <div class="overlay">
                        <a href="./profilePicture" class="icon">
                            <i class="material-icons prefix">edit</i>
                        </a>
                    </div>
                </div>
                <h4> <%= user.name %> </h4>
            </div>
        </div>
        <div class="row">
            <% if (subordinates) { %>
            <h6> Subordinates: </h6>
            <% for(var i=0; i < subordinates.length; i++){
            %>
            <img src="../profilePictures/<%=subordinates[i].imageName%>" onerror="this.src='../profilePictures/default.jpg'" style="height: 4%; width: 4%; margin-bottom: -1%;" class="tooltipped" data-position="right" data-tooltip="<%=subordinates[i].name %>">
            <% }}%>
        </div>
        <div class="row">
            <h6>
                Achievements
            </h6>
        </div>
        <div class="row">
            <h4 class="center-align"> All Goals </h4>
            <hr>
        </div>
    </div>
</main>
</body>

<% include ../layouts/footer.ejs %>